@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

.bg-image {
  margin: 0px;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-container video{
  width: 640px;
  height: auto;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  z-index: 8;
}

.video-container #

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover{
  color: white;
}

.dropdown .btn a:hover{
  color: white;
  opacity: 1;
  transition: 1s ease;
}

.dropdown-menu {
  background: transparent;
  border: 0px;
  transition: 1s ease;
}
.dropdown-item {
  width: 126px;
  color: white;
  opacity: .5;
  text-align: center;
  transition: .6s ease;
}

.dropdown-item:hover {
  background: transparent;
  /* background: #1f1f1f; */
  color: white;
  opacity: 1;
  transition: 1s ease;
}

.dropdown .btn a{
  color: white;
  opacity: .5;
  transition: .6s ease;
}

.creator-tag {
  font-size: 12px;
  text-align: right;
  z-index: 11;
}

.creator-tag a {
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
  color: white;
  /* top right bottom left */
  opacity: .5;
  background-color: #1f1f1f;
}

.creator-tag a:hover{
  text-decoration: underline;
}

.row {
  margin-left: 1px;
  padding-top: 10px;
  background-color: #1f1f1f;
  opacity: .5;
  padding-bottom: 10px;
  width: 640px;
  margin-top: -7px;
  z-index: 10;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.row button {
  width: 100px;
  margin-top: 5px;
  text-transform:uppercase;
}

.row .btn-link {
  width: 100px;
  border-radius: 0%;
  color:white;
}

.row .btn-link:hover{
  width: 100px;
  border-radius: 0%;
  opacity: .25;
  transition: .6s;
  color:white;
}

.marquee {
  width: 324px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
